{% load static %}

<nav class="navbar navbar-expand-lg navbar-info bg-info bg-gradient" >
    <div class="container">
        
        <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}"><b>H.O.M.E Lab</b></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-info" href="{% url 'dashboard-index' %}">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item active">
                    <a class="btn btn-info" href="{% url 'guest-view' %}">Catalogue<span
                            class="sr-only">(current)</span></a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-info" href="{% url 'user-profile' %}">My Profile
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="{% url 'user-logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="btn btn-info" href="{% url 'guest-view' %}">Catalogue<span
                            class="sr-only">(current)</span></a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">


                <li class="nav-item active">
                    <a class="btn btn-info" href="{% url 'user-register' %}">Register <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="{% url 'user-login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
            
        </div>
    </div>
</nav>
