<div class="row">
  <div class="col-md-4 mt-4">
    <div class="card">
      <div class="card-header bg-info text-white">Information</div>
      <div class="card-body">
        <marquee behavior="" direction="">
          <h3 class="my-4">Welcome to LabWise {{ user.first_name}} :D</h3>
        </marquee>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-4" >
    <div class="card">
      <div class="card-header bg-info text-white">Dashboard Statistics</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-staff' %}"
            >
              <div class="card my-card shadow ">
                <div class="card-body text-center" >
                  <h4>Admins <i class="bi bi-person-vcard-fill"></i></h4>
                  <h3>{{ staff_count }}</h3>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-customers' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Customers <i class="bi bi-people-fill"></i></h4>
                  <h3>{{ customer_count }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-categories' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Categories <i class="bi bi-tags-fill"></i></h4>
                  <h3>{{ category_count }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-items' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Items <i class="bi bi-box-seam-fill"></i></h4>
                  <h3>{{ item_count }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-booking' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Bookings <i class="bi bi-receipt"></i></h4>
                  <h3>{{ booking_count }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-serviceItem' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Service Items <i class="bi bi-box-seam-fill"></i></h4>
                  <h3>{{ serviceItem_count }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 mb-2">
            <a
              class="text-decoration-none text-dark"
              href="{% url 'dashboard-service' %}"
            >
              <div class="card my-card shadow">
                <div class="card-body text-center">
                  <h4>Services <i class="bi bi-tools"></i></h4>
                  <h3>{{ service_count }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
