{% extends 'partials/base.html' %}
{% block title %}Categories Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Category</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <!-- <input class="form-control mr-sm-2 mb-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Category" aria-label="Search">

        <script>
          function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, td1, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
          
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              td1 = tr[i].getElementsByTagName("td")[2];
              if (td || td1) {
                txtValue = td.textContent || td.innerText;
                txtValue1 = td1.textContent || td1.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } 
                else if (txtValue1.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                }
                else {
                  tr[i].style.display = "none";
                  
                }
              }
            }

          }
          </script> -->
        <table id="myTable"class="table bg-white">
            <thead class="bg-info text-white">
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th style="text-align:center"scope="col">Activity</th>

                </tr>
            </thead>
            <tbody>
                {% for category in category %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.desc}}</td>
                    

                    <td style="text-align:center">
                        <a class="btn btn-info btn-sm mb-1" style="width:70px"
                            href="{% url 'dashboard-categories-edit' category.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm " style="width:70px"
                            href="{% url 'dashboard-categories-delete' category.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


        <script>
            let table = new DataTable('#myTable', {
                // options
            });
        </script>



    </div>
</div>
{% endblock %}