{% extends 'partials/base.html' %}
{% block title %}Customer Page{% endblock %}


{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4" style="width: 100%; text-align:center" >
    <div style=" display:auto;overflow:auto">

        <table id="myTable" class="table bg-white" style="width: 100%;">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>     
                    <th scope="col">Date Joined</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer %}
                <tr>
                            <td>{{ customer.id }}</td>
                    <td>{{ customer.username }}</td>
                    
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.date_joined }}</td>
                    <td>{{ customer.last_login }}</td>
                    <td>                    <a class="btn btn-danger btn-sm"  style="width:70px"
                        href="{% url 'dashboard-account-delete-customer' customer.id %}">Delete</a>
</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


        <script>
            let table = new DataTable('#myTable', {
                // options
            });
        </script>
</div>

{% endblock %}