{% load crispy_forms_tags %}
<div>
    <!-- <div class="card-body">
        <marquee behavior="" direction="">
          <h3 class="">Welcome to LabWise {{ user.first_name}} :D</h3>
        </marquee>
      </div> -->
    <div class="row mt-4">
        
        <div class="col-md-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="card">
                <div class="card-header">
                    Make Booking Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="alert  alert-primary " role="alert">
                            Fill out <b>one</b> item or <b>one</b> service to be booked.
                          </div>

                          <div class="alert alert-info mt-3" role="alert">
                            Click <a class="" href="{% url 'guest-view' %}"><b><u>here</u></b></a> to view the list of services and item rentals available with descriptions.
                          </div>

                        {% csrf_token %}
                        
                        {{ form2 |crispy }}
                        <div style="display:flex">
                            <input style="margin-right:3px" class="btn btn-secondary " id="resetForm" type="reset"> 

                            <input class="btn btn-info btn-block" type="submit" value="Make Request">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Booking Records Information
                </div>

                <div class="card-body row" >
                    <div class="alert alert-warning " role="alert">
                        Your booking requests rejected by H.O.M.E Lab will be automatically deleted by the system and will not be displayed here.
                      </div>
                      <div style=" display:auto;overflow:auto">
                        <table class="table bg-white" id="myTable">
                            <thead class="bg-info text-white">
    
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Service Item</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Start Date and Time</th>
                                    <th scope="col">End Date and Time</th>
                                    <th scope="col">Booking Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in booking %}
                                {% if booking.customer == user %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.item }}</td>
                                    <td>{{ booking.service }}</td>
                                    <td>{{ booking.startDateTime }}</td>
                                    <td>{{ booking.endDateTime }}</td>
                                    {% if booking.bookingStatus == "Active" %}
                                    <td  class="alert alert-success">{{ booking.bookingStatus }}</td>
                                    {% elif booking.bookingStatus == "Pending Approval" %}
                                    <td  class="alert alert-warning">{{ booking.bookingStatus }}</td>
                                    {% elif booking.bookingStatus == "Completed" %}
                                    <td  class="alert alert-primary">{{ booking.bookingStatus }}</td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>




                      </div>


                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

                    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
              
                    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
            
            
                    <script>
                        let table = new DataTable('#myTable', {
                            // options
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
