{% extends 'partials/base.html' %}
{% block title %}Services Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Service</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">

        <table id="myTable" class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th style="text-align:center"scope="col">Activity</th>

                </tr>
            </thead>
            <tbody>
                {% for service in service %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.desc }}</td>
                    

                    <td style="text-align:center">
                        <a class="btn btn-info btn-sm mb-1"  style="width:70px"
                            href="{% url 'dashboard-service-edit' service.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm"  style="width:70px"
                            href="{% url 'dashboard-service-delete' service.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


        <script>
            let table = new DataTable('#myTable', {
                // options
            });
        </script>
    </div>
</div>
{% endblock %}