{% extends 'partials/base.html' %}
{% block title %}Service Items Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>

{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Service Item</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div type="button" class="btn btn-info btn-block mb-2" id="wtf" onclick="myFunction()" value="">Scan to input Serial Number <i class="bi bi-qr-code-scan"></i></div>
                
                <div id="reader" style="width: 100%"></div>

                <div id="show" style="display: block">

                    <p style="color: blue" id="result"></p>

                    <p id="identify"></p>
                    <p style="color: green" id="correct">{{booking.item.serialNumber}}</p>

                  </div>
                  
                {{ form|crispy }}
                
                <input class="btn btn-success btn-block" type="submit" value="Add">


                  <script>
                    const html5Qrcode = new Html5Qrcode("reader");
                    
                    var startScan = false;
                    
              
                    const qrCodeSuccessCallback = (decodedText, decodedResult) => {
                      if (decodedText) {
                        document.getElementById("show").style.display = "block";
                        document.getElementById("result").textContent = decodedText;
                        
                        document.getElementById("serialNumber").value = decodedText;
                      }
                    };
              
                    function myFunction() {
                      if (startScan == true) {
                        html5Qrcode.stop();
                        startScan = false;
                        document.getElementById("wtf").textContent = "Start Scanning";
                      }
                      if (startScan == false) {
                        const config = { fps: 10, qrbox: { width: 250, height: 250 } };
                        html5Qrcode.start(
                          { facingMode: "environment" },
                          config,
                          qrCodeSuccessCallback
                        );
                        startScan = true;
                        document.getElementById('wtf').textContent = "Stop Scanning";
                      }
                    }
              
                  </script>





            </form>
        </div>
    </div>
    <div class="col-md-8" >


        <table id="myTable" class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">SerialNumber</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th style="text-align:center" scope="col">Activity</th>

                </tr>
            </thead>
            <tbody>
                {% for serviceItem in serviceItem %}
                <tr>
                    <td>{{ serviceItem.id }}</td>
                    <td>{{ serviceItem.serialNumber }}</td>
                    <td>{{ serviceItem.name }}</td>
                    <td>{{ serviceItem.desc }}</td>
                    {% if serviceItem.status == "Available" %}
                    <td  class="alert alert-success">{{ serviceItem.status }}</td>
                    {% else %}
                    <td  class="alert alert-danger">{{ serviceItem.status }}</td>

                    {% endif %}

                    <td>
                        <a class="btn btn-info btn-sm mb-1 "  style="width:70px"
                            href="{% url 'dashboard-serviceItem-edit' serviceItem.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm "  style="width:70px"
                            href="{% url 'dashboard-serviceItem-delete' serviceItem.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


        <script>
            let table = new DataTable('#myTable', {
                // options
            });
        </script>
    </div>
</div>
{% endblock %}