{% extends 'partials/base.html' %}
{% block title %}Register Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Register Page</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}

                
                <a  class="btn btn-link mb-1"href="{% url 'user-login' %}">
                
                    <b>Back to login page</b>
                
            </a>
                <div class="alert alert-info " role="alert">
                    If you are a <b>Sunway Staff or Student,</b> it is recommended to use your <b>ID</b> as your <b>username.</b>
                  </div>
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


{% endblock %}